.category {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between; /* Spacing between items */
  padding: 5rem;
}

@media screen and (max-width: 768px) {
  .category {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }
}

/* Flex items (adjust as needed) */

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f0f8ff;
  margin: 0 5rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
  flex: 0 1 calc(33.33% - 10px); /* Flexible sizing with a little spacing between items */
  max-width: calc(33.33% - 10px); /* Limit maximum width */
  margin-bottom: 20px; /* Spacing between items */
}

.catalog img {
  max-height: 50%;
  max-width: 50%;
  padding: auto;
}


.myBtn{
    color: #f0f8ff;
    background-color: #002D62;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    text-decoration: none;
}

.myBtn:hover{
    color: #002D62;
    background-color: #f0f8ff ;
    border: none;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}
